/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body, html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#testoAlternato
{
    border: 1px solid black;
    padding: 1em;
   
}
p
{
    width: 18em;
}

.parole
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

i:nth-last-of-type(1)
{
    animation: roll 1.1s linear 1s infinite;
}
i:nth-last-of-type(2)
{
    animation: roll 1.2s linear 1s infinite;
}
i:nth-last-of-type(3)
{
    animation: roll 1.3s linear 1s infinite;
}

@keyframes roll
{
    0% 
    { 
        opacity: 0; 
        transform:translateX(0) translateY(-100%); 
    }
   100% 
   { 
        opacity: 1; 
        transform:translateX(0) translateY(-50px); 
   }
}
